@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #121723;
}

/* CABEÇALHO HEADER */

header {
    background-color: transparent;
    padding: 20px 15px;  
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-height: 1400px;
    flex-wrap: wrap;
    position: relative;
}

nav .logo a {
    text-decoration: none;
    color: #fff;
    font-size: 32px;
    font-weight: 600;
}

.menu  {
    display: flex;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    padding: 0px 20px;
    color: #707B80;
    font-weight: 600;
}

.menu li a:hover {
    color: #fff;
    transition: 0.4s;
}


.submenu {
    display: none;
}

.btn-login a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    padding: 0px 20px 0px 0px;  
}

.btn-login .inscrever-se  {
    background-color: #436CF7;
    padding: 10px 15px;
    border-radius: 3px;
}

.btn-login .inscrever-se:hover {
    background-color: #6387fc;
    transition: 0.5s;
}
/*FIM CABEÇALHO*/

/*PRIMEIRA SECTION*/
.primeira-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background: linear-gradient(to bottom, #121723, #1E232E);
    height: 600px;
    padding: 20px 20px;
    flex-wrap: rap;
}

.primeira-section h1 {
    color: #fff;
    font-size: 3em;
    text-align: center;
    padding: 50px 0px;
    font-weight: bolder;
}

.primeira-section p {
    color: #707B80;
    font-size: 1.3em;
    line-height: 1.6em;
    text-align: center;
    padding: 0px 0px 40px 0px;
}

.btn-primeira-section {
    text-align: center;
    width: 100%;
    margin: auto;
}

.btn-primeira-section a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 15px 20px;
    border-radius: 3px;
}

.btn-azul {
    background-color: #436CF7;
    margin-right: 20px;
}

.btn-azul:hover {
    background-color: #415DCF;
    transition: 0.7s;
}

.btn-azul::before {
  content: "🔥 ";
}

.btn-cinza {
    background-color: #353943;
}

.btn-cinza:hover {
    background-color: #2C303B;
    transition: 0.7s;
}

/*SEGUNDA SECTION*/
.segunda-section {
    padding: 60px 20px;
    max-width: 1400px;
    margin: auto;
}

.segunda-section h1 {
    color: #fff;
    font-size: 45px;
    text-align: center;
    
}

.segunda-section p {
    color: #707B80;
    text-align: center;
    font-size: 18px;
    padding: 20px 0px 50px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding-top: 20px;
}

.cards .card {
    display: flex;
    flex-direction: column;
    height: 300px;
}

.card img {
    background: #182038;
    border-radius: 8px;
    color: #436CF7;
    padding: 4px;
}

.cards h3 {
    color: #fff;
    font-size: 24px;
    padding: 15px 0px;
}

.cards p {
    color: #707B80;
    font-weight: 600;
    text-align: start;
}

/*TERCEIRA SECTION*/


/*PAGINA DE LOGIN*/

.formulario-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto 0px;
    padding: 50px;
    width: 100%;
    max-width: 390px;
    max-height: 756px;
    background-color: #1D2430;
    border-radius: 8px; 
}

.formulario-login h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #fff;
}

.formulario-login p {
    color: #707B80;
    margin: 0px 0px 44px;
    display: flex;
    text-align: center;
}

.formulario-login .ou-entre {
    display: flex;
    text-decoration: none;
    color: #707B80;
    background-color: #2C303B;
    padding: 15px 73px;
    margin-bottom: 20px;
}

.ou-entre:hover {
    background-color: #20283B;
    transition: 0.4s;
    border: 1px solid #415DCF;
}

.ou-entre svg {
    width: 20px;
    height: 20px;
    padding-right: 15px;
}

.paragrafo-entre {
    padding-top: 30px;
}

.paragrafo-entre::after {
    content: '\2003\━━━━';
}

.paragrafo-entre::before {
    content: '\━━━━\2003';
}

form label {
    display: flex;
    color: #fff;
    font-size: 14px;
    margin: 0px 0px 12px;
}

.email-login {
    margin-bottom: 30px;
}

form {
    width: 100%;
    max-width: 340px;
}

form .email-login, .senha-login {
    background-color: #2C303B; 
    width: 330px;
    height: 50px; 
    border: none;
}

.senha-login {
    margin-bottom: 30px;
}

form input::placeholder {
    color: #707B80;
    font-size: 16px;  
    padding: 12px 24px;
}

.linha {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 0px 32px;
    gap: 10px;
}

form .checkbox {
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="checkbox"] {
    accent-color: #1D2430;; 
    border: 1px solid #707B80;
    
}

form .mantenha-conectado {
    font-size: 14px;
    color: #707B80;
    margin: 0;
}
.esqueceu-senha  {
    color: #436CF7;
    text-decoration: none;
    font-size: 14px;
}

.esqueceu-senha:hover {
    text-decoration: underline;
}

.btn-entrar {
    background-color: #436CF7;
    color: #fff;
    border: none;
    font-size: 16px;
    width: 330px;
    height: 50px;
    margin-bottom: 20px;
    cursor: pointer;
    font-weight: 600;
}

.btn-entrar:hover {
    background-color: #6387fc;
}

.sem-conta {
    display: flex;
    text-align: center;
    justify-content: center;
}

.sem-conta h3 {
    font-size: 16px;
    color: #707B80;
}

.sem-conta a {
    color: #436CF7;
    text-decoration: none;
}

.sem-conta a:hover {
    text-decoration: underline;
}

/* PAGINA DE INSC*/

.linha2 {
    display: flex;
    align-items: center;
    margin: 0px 0px 32px;
}

.aceitar-termos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
}

/* PARTE DA RESPONSIVIDADE*/
@media(max-width: 1024px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Celular grande: até 768px */
@media(max-width: 768px) {
    
    /* CABEÇALHO */
    .menu {
        align-items: center;
        padding: 30px 0px;
    }

    nav .logo {
        padding-top: 2px;
    }

    /* PRIMEIRA SECTION */

    .primeira-section h1  {
        font-size: 2em;
    }

    .primeira-section h1 br { 
        display: none;
    }

    .primeira-section p {
        font-size: 1em;
    }

    .primeira-section p br {
        display: none;
    }

    .btn-primeira-section {
        flex-direction: column;
        display: flex;
        padding: 20px 0px;
        gap: 15px;
    }

    .btn-primeira-section a {
        width: 300px;
        margin: auto;
        padding: 20px 0px;
    }
    
    /* SEGUNDA SECTION */
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }

    /* FORMULARIO LOGIN */
    .formulario-login {
        width: 260px;
    }

    .formulario-login h2 {
        font-size: 28px;
    }

    form .email-login, .senha-login {
        width: 260px;  
    }

    .btn-entrar {
        width: 100%;
    }
}

/* Celular pequeno: até 480px */
@media(max-width: 480px) {

    /* CABEÇALHO */
    .menu {
        align-items: center;
        padding: 30px 0px;
    }

    /* PRIMEIRA SECTION */
    

    /* FORMULAROP LOGIN */
    .formulario-login {
        width: 240px;
    }

    .formulario-login h2 {
        font-size: 22px;
    }

    .formulario-login p {
        font-size: 14px;
    }

    form .email-login, .senha-login {
        width: 240px;  
    }

    .btn-entrar {
        width: 100%;
    }
}